<html>

<head>
    <meta charset="utf-8" />
    <title>Double Date</title>
    <link rel="stylesheet" type="text/css" href="/Css/home.css">
</head>

<div class="containerWelcome">
    <p>Welcome
        <%= item[0].email %>
    </p>



    <script type="text/javascript" src="../Js/chrono.js"></script>
    </body>

</html>